django>=5.2,<5.3
pillow
djangorestframework
drf-spectacular
djangorestframework-simplejwt
drf-restwind
django-unfold
celery
django_celery_beat
django-cors-headers
django-redis
python-dotenv

# For deploy in render.com
whitenoise
gunicorn

# Database Requirement
psycopg2

# Email service
resend

# Bucket S3
django-storages[s3]
boto3

# translate miladi date to shamsi
jdatetime